.app{
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  
}
.custom-shadow-sm{
  box-shadow: rgba(1, 129, 101, 0.432) 0px 1px 5px 0px;
}
.custom-btn{
  padding: 5px 15px 5px 15px;
  border-radius:  20px 3px 20px 3px;
}
.book-now {
background: linear-gradient(90deg, rgb(5, 106, 230), rgb(3, 162, 224));
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    position: absolute;
    right: -5px;
    padding-right: 2px;
    width: 25px;
    height: 25px;
    border-width: thin
} */
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */
.popup-position{
  position: absolute;
  z-index: 111;
  border-radius: 10px;
  right: 0%;
  top: 25%;
}
.search-page{
  
  
}
.passenger-popup{
  position: absolute;
  background-color: rgb(245, 242, 237);
  z-index: 200;
  border-radius: 10px;
  top:100%;
  right: -10%;
  
}