.app{
  overflow: hidden;
  min-width: 100vw;
}
.custom-shadow-sm{
  box-shadow: rgba(1, 129, 101, 0.432) 0px 1px 5px 0px;
}
.custom-btn{
  padding: 5px 15px 5px 15px;
  border-radius:  20px 3px 20px 3px;
}
.book-now {
background: linear-gradient(90deg, rgb(5, 106, 230), rgb(3, 162, 224));
}